consumerKey=
consumerSecret=
token=
secret=

mySQLHost=myserver.com # enter host here
mySQLUser=
mySQLPassword=
mySQLTablePrefix=testTable # name of the table to write into! WARNING! not yet secure, is writen directly into the query.
